$save-color: #a2d393;
$cancel-color: #604d53;
$delete-color: #9da3a4;
$delete-hover-color: #b52;
$text-color: #fff;
$utility-color: #3498DB;

.btn {
  @include size(120px 46px);
  border: 0;
  color: $text-color;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: uppercase;
  padding: 1px 25px 0;

  + .btn {
    margin-left: 4px;
  }

  &.big {
    @include size(180px 42px);
    font-size: 14px;
  }

  &.small {

  }

  &.auto-size {
    width: auto;
    padding: 1px 35px 0;
  }

  &.save,
  &.manage {
    background: $save-color;

    &:hover {
      background: saturate($save-color, 10);
    }
  }

  &.add {
    background: $utility-color;

    &:hover {
      background: saturate($utility-color, 10);
    }
  }

  &.add-unit {
    width: 130px;
  }

  &.cancel {
    background: $cancel-color;

    &:hover {
      background: darken($cancel-color, 10);
    }
  }

  &.delete {
    background: $delete-color;

    &.red,
    &:hover {
      background: $delete-hover-color;
    }

    &.red:hover {
      background: saturate($delete-hover-color, 10);
    }
  }
}

@mixin btn-outline($btn-color, $bg) {
  background: transparent;
  border: 2px solid $btn-color;
  color: $btn-color;

  &:hover {
    background: $btn-color;
    color: $bg;
  }
}

.text-btn {
  color: desaturate($sensor-blue, 20);
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
  text-transform: uppercase;

  &:hover {
    color: lighten(desaturate($sensor-blue, 20), 10);
    cursor: pointer;
  }

  &:before {
    @include position(relative, -2px null null null);
    color: inherit;
    content: '+';
    display: inline-block;
    font-size: 18px;
    line-height: 16px;
    margin-right: 7px;
    vertical-align: middle;
  }

  &.delete {
    color: #E62E2E;
    font-size: 11px;
    font-weight: 400;

    &:before {
      display: none;
    }
  }
}

.btn-container {
  margin-top: 30px;
}
