@media (max-width: 750px) {
  .form-container.vertical-layout {
    label {
      display: inline-block;
      width: 68px;
      text-align: right;
      line-height: 32px;
      vertical-align: middle;
    }
    .long,
    .phone,
    .short,
    .state-dropdown-container {
      width: calc(100% - 68px);
      display: inline-block;
      vertical-align: middle;
    }
  }
  .form-container {
    &:not(.clear) .form-row + .form-row {
      margin-top: 7px;
    }
    hr {
      border-width: 1px;
    }
  }
}
