$login-background: $sensor-blue;
$login-color: #fff;

#login {
  background: $login-background;
  color: $login-color;
  padding: 30px 10px;

  h1 {
    font-weight: 300;
  }

  h1,
  .form-container {
    border: 0;
    margin-top: 50px;
  }

  .button-row {
    margin-top: 30px;

    .outline {
      @include btn-outline($login-color, $login-background);
      font-weight: 500;
    }
  }

  label {
    width: 90px;
    text-align: right;
    font-weight: 300;
    font-size: 18px;
  }

  input {
    @include size(100% 40px);
    color: $body-text;
    float: none;
    max-width: 300px;
    padding: 0 14px;

    @include placeholder {
      color: lighten($login-background, 30);
      font-style: italic;
    }
  }

  .error-text {
    color: #E47A00;
    background: #fff;
    padding: 10px;
    position: absolute;
    width: 600px;
    text-align: center;
    display: block;
    left: 50%;
    margin-left: -300px;
    top: -45px;
    border-radius: 4px;
    box-shadow: 0 2px 20px rgba(0,0,0,.1);
  }

}
